# Vendor-specific connection properties

tableBlacklist=
validateFK=false
port=5432
schema=
username=postgres
windowsAuthentication=false
serviceName=
ignoreKnownFK=false
vendor=PostgreSQL
database=postgres
host={{ .DB_HOST }}
password=MyPassword1!
